# Общие переменные
DB_PASSWORD=gusto_password
SECRET_KEY=change-me-in-production
CORS_ORIGINS=http://localhost:3000
BOT_TOKEN=

# Админ-панель
REACT_APP_API_URL=http://localhost:8000

# Если вы хотите запускать bot локально вне Docker
# BACKEND_URL=http://localhost:8000
# REDIS_URL=redis://localhost:6379/1
